@import 'tailwindcss';

@theme inline {
    --color-ui-0: var(--ui-0);
    --color-ui-50: var(--ui-50);
    --color-ui-100: var(--ui-100);
    --color-ui-200: var(--ui-200);
    --color-ui-300: var(--ui-300);
    --color-ui-400: var(--ui-400);
    --color-ui-500: var(--ui-500);
    --color-ui-600: var(--ui-600);
    --color-ui-700: var(--ui-700);
    --color-ui-800: var(--ui-800);
    --color-ui-900: var(--ui-900);
    --color-ui-950: var(--ui-950);
    --color-red-50: var(--red-50);
    --color-red-200: var(--red-200);
    --color-red-500: var(--red-500);
    --color-red-600: var(--red-600);
    --color-red-700: var(--red-700);
    --color-orange-50: var(--orange-50);
    --color-orange-200: var(--orange-200);
    --color-orange-500: var(--orange-500);
    --color-orange-600: var(--orange-600);
    --color-orange-700: var(--orange-700);
    --color-yellow-50: var(--yellow-50);
    --color-yellow-200: var(--yellow-200);
    --color-yellow-500: var(--yellow-500);
    --color-yellow-600: var(--yellow-600);
    --color-yellow-700: var(--yellow-700);
    --color-green-50: var(--green-50);
    --color-green-200: var(--green-200);
    --color-green-500: var(--green-500);
    --color-green-600: var(--green-600);
    --color-green-700: var(--green-700);
    --color-blue-50: var(--blue-50);
    --color-blue-200: var(--blue-200);
    --color-blue-500: var(--blue-500);
    --color-blue-600: var(--blue-600);
    --color-blue-700: var(--blue-700);
    --color-purple-50: var(--purple-50);
    --color-purple-200: var(--purple-200);
    --color-purple-500: var(--purple-500);
    --color-purple-600: var(--purple-600);
    --color-purple-700: var(--purple-700);
}

:root {
    --emoji-font-family:
        'Apple Color Emoji', 'Segoe UI Emoji', 'Noto Color Emoji',
        'Twemoji Mozilla', sans-serif;
}

html,
body,
#root {
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    background: var(--ui-0);
    color: var(--ui-900);
    font-family: var(--font-sans);
}
