@use 'sass:list';
@use '../styles/theme-token-data' as theme;

$theme-token-transitions: ();

@each $token in theme.$color-tokens {
    $theme-token-transitions: list.append(
        $theme-token-transitions,
        --#{$token} var(--theme-transition-duration) ease,
        comma
    );
}

:root {
    --theme-transition-duration: 180ms;
}

:root.theme-transition {
    transition: $theme-token-transitions;
}

@media (prefers-reduced-motion: reduce) {
    :root.theme-transition {
        transition: none;
    }
}
